<b> Creado: Enero 18 de 2021 <br>
Modificado: Enero 18 de 2021 <br>
Testeado en:

    - Python 3.8.6
    - pandas 1.1.3

In [6]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    'Nombre': ['Paul', 'Alicia', 'Murakami', 'Paul', 'Alicia'],
    'Cantidad': [23, 2, 12, 34, 6]
})

df

     Nombre  Cantidad
0      Paul        23
1    Alicia         2
2  Murakami        12
3      Paul        34
4    Alicia         6

In [4]:
df.groupby(pd.Grouper(key='Nombre')).sum()

          Cantidad
Nombre
Paul            57
Alicia           8
Murakami        12

In [20]:
inicio = '2020-05-02 4:24:00'
fin = '2020-05-02 8:17:00'

rango = pd.date_range(inicio, fin, freq='20min')
df = pd.DataFrame(rango, columns=['Fecha'])

df

                 Fecha
0  2020-05-02 04:24:00
1  2020-05-02 04:44:00
2  2020-05-02 05:04:00
3  2020-05-02 05:24:00
4  2020-05-02 05:44:00
5  2020-05-02 06:04:00
6  2020-05-02 06:24:00
7  2020-05-02 06:44:00
8  2020-05-02 07:04:00
9  2020-05-02 07:24:00
10 2020-05-02 07:44:00
11 2020-05-02 08:04:00

Frecuencia por hora

In [19]:
df.groupby(pd.Grouper(key='Fecha', freq='H')).size()

Fecha
2020-05-02 04:00:00    2
2020-05-02 05:00:00    3
2020-05-02 06:00:00    3
2020-05-02 07:00:00    3
2020-05-02 08:00:00    1
Freq: H, dtype: int64

In [25]:
df.groupby(pd.Grouper(key='Fecha', freq='30min')).size()

Fecha
2020-05-02 04:00:00    1
2020-05-02 04:30:00    1
2020-05-02 05:00:00    2
2020-05-02 05:30:00    1
2020-05-02 06:00:00    2
2020-05-02 06:30:00    1
2020-05-02 07:00:00    2
2020-05-02 07:30:00    1
2020-05-02 08:00:00    1
Freq: 30T, dtype: int64

In [26]:
df.groupby(pd.Grouper(key='Fecha', freq='30min', offset='4h13min')).size()

Fecha
2020-05-02 04:13:00    1
2020-05-02 04:43:00    2
2020-05-02 05:13:00    1
2020-05-02 05:43:00    2
2020-05-02 06:13:00    1
2020-05-02 06:43:00    2
2020-05-02 07:13:00    1
2020-05-02 07:43:00    2
Freq: 30T, dtype: int64

In [27]:
df.groupby(pd.Grouper(key='Fecha', freq='30min', offset='3min')).size()

Fecha
2020-05-02 04:03:00    1
2020-05-02 04:33:00    1
2020-05-02 05:03:00    2
2020-05-02 05:33:00    1
2020-05-02 06:03:00    2
2020-05-02 06:33:00    1
2020-05-02 07:03:00    2
2020-05-02 07:33:00    1
2020-05-02 08:03:00    1
Freq: 30T, dtype: int64